.searchBox {
  margin-top: 50px;
  position: relative;
  display: flex;
  margin: 0 30px;
}

.searchBox input {
  width: 300px;
  height: 50px;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #23242e;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.searchBox select {
  width: 200px;
  height: 50px;
  margin-left: 20px;
  padding: 0 10px;
  background-color: #23242e;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.searchBox select:focus {
  outline: none;
}

.searchResults {
  position: absolute;
  top: 60px;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  overflow-y: scroll;
  background-color: #18181c;
  border: 2px solid #22262e;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.searchResults li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #22262e;
}

.searchResults li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .searchBox {
    flex-direction: column;
    align-items: center;
  }

  .searchBox select {
    margin-top: 20px;
  }
}
